# Generated Hugo files and directories
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Node.js dependencies (in case you use npm/npx later)
/node_modules/
package-lock.json
package.json

# OS-specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# IDEs and Editors
/.vscode/
/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
/CV-markdown/
